<template>
  <div id="app">
    <!-- <Header /> -->
    <router-view class="container"/>
    <Footer />
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'

export default {
  name: 'app',
  components: {
    Header,
    Footer
  }
}
</script>


