body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.select2-container .select2-selection--single{
  height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 38px;;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 38px;
}

img {
  opacity: 0.6;
}

li :hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.bordered {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1em;
}

.right-border {
  border-right: 1px solid black; 
}

.form-col {
  padding: 0px!important;
}

i {
  width: 12px;
  height: 12px;
}

.select2-selection--single {
  display: block!important;
  width: 100%!important;
  height: calc(1.5em + 1.5rem)!important;
  padding: .75rem 1.5rem!important;
  font-size: .875rem!important;
  font-weight: 400!important;
  line-height: 1.5!important;
  color: #55595c!important;
  background-color: #f7f7f9!important;
  background-clip: padding-box!important;
  border: 0 solid #ced4da!important;
  border-radius: 0!important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
}

.form-btn {
  padding: 0px!important;
  height: 45px;
}

.form-control {
  width: 100%!important
}

.return-button {
  height:100%;
}