<template>
  <div id="users">
    <div class="container-fluid bordered">
      <div>
        <!-- input column -->
        <div>
          <div class="row">
            <div class="col-8 form-col"><h1>Admin page for managing users</h1></div>
            <div class="col form-col">
                <a href="/" class="btn btn-primary return-button float-right">Logout</a>
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Username: </label>
            </div>
            <div class="col form-col">
              <input
                type="text"
                class="form-control"
                v-model="user.username"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Password: </label>
            </div>
            <div class="col form-col">
              <input
                type="text"
                class="form-control"
                v-model="user.password"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Admin: </label>
            </div>
            <div class="col form-col">
              <input
                type="checkbox"
                class="form-control"
                v-model="user.admin"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <button
                v-show="!editing"
                class="btn btn-success form-control"
                type="button"
                @click="saveUser"
              >
                Submit
              </button>
              <button
                v-show="editing"
                class="btn btn-warning form-control"
                type="button"
                @click="updateUser"
              >
                Update
              </button>
            </div>
            <div class="col form-col">
              <button
                class="btn btn-danger form-control"
                @click="cancel"
                type="button"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
        <br />
        <!-- obsolete with integration of datatable -->
        <!-- <div class="row">
          <input
            type="text"
            class="form-control"
            placeholder="Enter a first name to search and press enter..."
            v-model="searchTerm"
            @keypress.enter="searchUser"
          />
        </div> -->
        <!-- table column -->
        <div>
          <table class="table" id="users-table">
            <thead>
              <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Admin</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(tableUser, i) in users" :key="i">
                <td>{{ tableUser.username }}</td>
                <td>{{ tableUser.password }}</td>
                <td>{{ tableUser.admin }}</td>
                <td>
                  <button
                    class="btn btn-danger"
                    @click="deleteUser(tableUser)"
                  >
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button
                    class="btn btn-warning"
                    @click="editUser(tableUser)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "admins",
  data() {
    return {
      updateId: "",
      user: {
        username: "",
        password: "",
        admin: "",
      },
      users: [],
      editing: false,
    //   searchTerm: "",
    };
  },
  methods: {
    cancel() {
      location.reload();
    },
    getUsers() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/users/get`,
        success: function (data, status) {
          if (status === "success") {
            $this.users = JSON.parse(data);
          }
        },
      });
    },
    saveUser() {
      let $this = this;
      if (
        this.user.username == "" ||
        this.user.password == ""
      ) {
        swal("ERROR", "You must fill out all fields correctly", "error");
      } else {
        $.ajax({
          type: "POST",
          url: `${baseURL}/users/post`,
          data: this.user,
          success: function (data, status) {
            if (status === "success") {
              swal("Success", "Data was saved successfully", "success").then(
                () => {
                  $this.cancel();
                }
              );
            }
          },
        });
      }
    },
    deleteUser(tableUser) {
      let $this = this;
      swal({
        title: "Alert",
        text: "Once data is deleted, it can never be recovered!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          $.ajax({
            type: "delete",
            url: `${baseURL}/users/delete/${tableUser._id}`,
            data: tableUser,
            success: function (data, status) {
              if (status === "success") {
                swal("Success", "Data deleted successfully.", "success").then(
                  function () {
                    $this.getUsers();
                  }
                );
              }
            },
          });
        }
      });
    },
    editUser(tableUser) {
      if (this.editing && this.updateId == tableUser._id) {
        this.cancel();
      } else {
        this.editing = true;
        this.user = tableUser;
        this.updateId = tableUser._id;
      }
    },
    updateUser() {
      let $this = this;
      if (
        this.user.username == "" ||
        this.user.password == ""
      ) {
        swal("ERROR", "You must fill out all fields correctly", "error");
      } else {
        swal(
          "Alert",
          "Once the data is updated, it cannot be reverted!",
          "warning",
          { buttons: true }
        ).then(function (willUpdate) {
          if (willUpdate) {
            $.ajax({
              type: "put",
              url: `${baseURL}/users/update/${$this.updateId}`,
              data: $this.user,
              success: function (data, status) {
                if (status === "success") {
                  swal("Success", "Data updated successfully", "success").then(
                    function () {
                      $this.cancel();
                    }
                  );
                }
              },
            });
          }
        });
      }
    },
    // searchUser() {
    //   let $this = this;
    //   if (this.searchTerm === "") {
    //     this.getUsers();
    //   } else {
    //     $.ajax({
    //       type: "get",
    //       url: `${baseURL}/users/search/${this.searchTerm}`,
    //       success: function (data, status) {
    //         if (status === "success") {
    //           $this.users = JSON.parse(data);
    //         }
    //       },
    //     });
    //   }
    // },
  },
  mounted() {
    this.getUsers();
    $("#users-table").DataTable();
  },
  watch: {
      users: function (value) {
          $("#users-table").DataTable().destroy();
          this.$nextTick(() => {
              $("#users-table").DataTable();
          })
      }
  }
};
</script>