<template>
  <div id="appointments">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/users">Clinic Manager</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link class="nav-link active" to="/">Home</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/patients"
                  >Patients</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/doctors"
                  >Doctors</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/appointments"
                  >Appointments</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/">Logout</router-link>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid bordered">
      <div>
        <!-- input column -->
        <div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Location: </label>
            </div>
            <div class="col form-col">
              <input
                type="text"
                class="form-control"
                v-model="appointment.location"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Doctor: </label>
            </div>
            <div class="col form-col">
              <select class="form-control" id="doctor">
                <option value="" disabled selected></option>
                <option
                  v-for="(doctor, i) in doctors"
                  v-bind:value="
                    doctor.doctorFirstName + ' ' + doctor.doctorLastName
                  "
                  :key="i"
                >
                  {{ doctor.doctorFirstName }}
                  {{ doctor.doctorLastName }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Patient: </label>
            </div>
            <div class="col form-col">
              <select class="form-control" id="patient">
                <option value="" disabled selected></option>
                <option
                  v-for="(patient, i) in patients"
                  v-bind:value="
                    patient.patientFirstName + ' ' + patient.patientLastName
                  "
                  :key="i"
                >
                  {{ patient.patientFirstName }}
                  {{ patient.patientLastName }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Date: </label>
            </div>
            <div class="col form-col">
              <input
                type="date"
                class="form-control"
                v-model="appointment.date"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Time: </label>
            </div>
            <div class="col form-col">
              <input
                type="time"
                class="form-control"
                v-model="appointment.time"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <button
                v-show="!editing"
                class="btn btn-success form-control"
                type="button"
                @click="saveAppointment"
              >
                Submit
              </button>
              <button
                v-show="editing"
                class="btn btn-warning form-control"
                type="button"
                @click="updateAppointment"
              >
                Update
              </button>
            </div>
            <div class="col form-col">
              <button
                class="btn btn-danger form-control"
                @click="cancel"
                type="button"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
        <br />
        <!-- table column -->
        <div>
          <table class="table" id="appointments-table">
            <thead>
              <tr>
                <th>Location</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(tableAppointment, i) in appointments" :key="i">
                <td>{{ tableAppointment.location }}</td>
                <td>{{ tableAppointment.doctor }}</td>
                <td>{{ tableAppointment.patient }}</td>
                <td>{{ tableAppointment.date }}</td>
                <td>{{ tableAppointment.time }}</td>
                <td>
                  <button
                    class="btn btn-danger"
                    @click="deleteAppointment(tableAppointment)"
                  >
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button
                    class="btn btn-warning"
                    @click="editAppointment(tableAppointment)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "appointments",
  data() {
    return {
      updateId: "",
      appointment: {
        location: "",
        doctor: "",
        patient: "",
        date: "",
        time: "",
      },
      appointments: [],
      doctors: [],
      patients: [],
      editing: false,
    };
  },
  methods: {
    cancel() {
      location.reload();
    },
    getAppointments() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/appointments/get`,
        success: function (data, status) {
          if (status === "success") {
            $this.appointments = data[0];
            $this.doctors = data[1];
            $this.patients = data[2];
          }
        },
      });
    },
    saveAppointment() {
      let $this = this;
      let isDuplicate = false;
      this.appointments.forEach((appointment) => {
        if (
          appointment.time == $this.appointment.time &&
          appointment.date == $this.appointment.date
        ) {
          isDuplicate = true;
        }
      });
      if (
        this.appointment.location == "" ||
        this.appointment.doctor == "" ||
        this.appointment.client == "" ||
        this.appointment.date == "" ||
        this.appointment.time == "" ||
        isDuplicate
      ) {
        swal(
          "ERROR",
          "You must fill out all fields correctly, and there cannot be two appointments at the same time ",
          "error"
        );
      } else {
        $.ajax({
          type: "POST",
          url: `${baseURL}/appointments/post`,
          data: this.appointment,
          success: function (data, status) {
            if (status === "success") {
              swal("Success", "Data was saved successfully", "success").then(
                () => {
                  $this.cancel();
                }
              );
            }
          },
        });
      }
    },
    deleteAppointment(tableAppointment) {
      let $this = this;
      swal({
        title: "Alert",
        text: "Once data is deleted, it can never be recovered!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          $.ajax({
            type: "delete",
            url: `${baseURL}/appointments/delete/${tableAppointment._id}`,
            data: tableAppointment,
            success: function (data, status) {
              if (status === "success") {
                swal("Success", "Data deleted successfully.", "success").then(
                  function () {
                    $this.cancel();
                  }
                );
              }
            },
          });
        }
      });
    },
    editAppointment(tableAppointment) {
      if (this.editing && this.updateId == tableAppointment._id) {
        this.cancel();
      } else {
        this.editing = true;
        this.appointment = tableAppointment;
        $("#doctor").val(this.appointment.doctor);
        $("#doctor").trigger("change");
        $("#patient").val(this.appointment.patient);
        $("#patient").trigger("change");
        this.updateId = tableAppointment._id;
      }
    },
    updateAppointment() {
      let $this = this;
      let isDuplicate = false;
      this.appointments.forEach((appointment) => {
        if (
          appointment.time == $this.appointment.time &&
          appointment.date == $this.appointment.date &&
          appointment._id != $this.appointment._id
        ) {
          isDuplicate = true;
        }
      });
      if (
        this.appointment.location == "" ||
        this.appointment.doctor == "" ||
        this.appointment.patient == "" ||
        this.appointment.date == "" ||
        this.appointment.time == "" ||
        isDuplicate
      ) {
        swal(
          "ERROR",
          "You must fill out all fields correctly, and there cannot be two appointments at the same time",
          "error"
        );
      } else {
        swal(
          "Alert",
          "Once the data is updated, it cannot be reverted!",
          "warning",
          { buttons: true }
        ).then(function (willUpdate) {
          if (willUpdate) {
            $.ajax({
              type: "put",
              url: `${baseURL}/appointments/update/${$this.updateId}`,
              data: $this.appointment,
              success: function (data, status) {
                if (status === "success") {
                  swal("Success", "Data updated successfully", "success").then(
                    function () {
                      $this.cancel();
                    }
                  );
                }
              },
            });
          }
        });
      }
    },
  },
  mounted() {
    this.getAppointments();
    $("#appointments-table").DataTable();
    $("#doctor").select2();
    $("#patient").select2();
    $("#doctor").on("change", () => {
      if ($("#doctor").val() != null) {
        this.appointment.doctor = $("#doctor").val();
      }
    });
    $("#patient").on("change", () => {
      if ($("#patient").val() != null) {
        this.appointment.patient = $("#patient").val();
      }
    });
  },
  watch: {
    appointments: function (value) {
      $("#appointments-table").DataTable().destroy();
      this.$nextTick(() => {
        $("#appointments-table").DataTable();
      });
    },
  },
};
</script>