<template>
  <div id="doctors">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/users">Clinic Manager</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link class="nav-link active" to="/">Home</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/patients"
                  >patients</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/doctors"
                  >Doctors</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/appointments"
                  >Appointments</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/">Logout</router-link>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid bordered">
      <div>
        <!-- input column -->
        <div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">First Name: </label>
            </div>
            <div class="col form-col">
              <input
                type="text"
                class="form-control"
                v-model="doctor.doctorFirstName"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Last Name: </label>
            </div>
            <div class="col form-col">
              <input
                type="text"
                class="form-control"
                v-model="doctor.doctorLastName"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Phone Number: </label>
            </div>
            <div class="col form-col">
              <input
                type="text"
                class="form-control"
                v-model="doctor.doctorPhone"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Specialty: </label>
            </div>
            <div class="col form-col">
              <input type="text" class="form-control" v-model="doctor.specialty" />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <button
                v-show="!editing"
                class="btn btn-success form-control"
                type="button"
                @click="saveDoctor"
              >
                Submit
              </button>
              <button
                v-show="editing"
                class="btn btn-warning form-control"
                type="button"
                @click="updateDoctor"
              >
                Update
              </button>
            </div>
            <div class="col form-col">
              <button
                class="btn btn-danger form-control"
                @click="cancel"
                type="button"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
        <br />
        <!-- table column -->
        <div>
          <table class="table" id="doctors-table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Specialty</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(tableDoctor, i) in doctors" :key="i">
                <td>{{ tableDoctor.doctorFirstName }}</td>
                <td>{{ tableDoctor.doctorLastName }}</td>
                <td>{{ tableDoctor.doctorPhone }}</td>
                <td>{{ tableDoctor.specialty }}</td>
                <td>
                  <button
                    class="btn btn-danger"
                    @click="deleteDoctor(tableDoctor)"
                  >
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button
                    class="btn btn-warning"
                    @click="editDoctor(tableDoctor)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "doctors",
  data() {
    return {
      updateId: "",
      doctor: {
        doctorFirstName: "",
        doctorLastName: "",
        doctorPhone: "",
        specialty: "",
      },
      doctors: [],
      editing: false,
    };
  },
  methods: {
    cancel() {
      location.reload();
    },
    getDoctors() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/doctors/get`,
        success: function (data, status) {
          if (status === "success") {
            $this.doctors = JSON.parse(data);
          }
        },
      });
    },
    saveDoctor() {
      let $this = this;
      if (
        this.doctor.doctorFirstName == "" ||
        this.doctor.doctorLastName == "" ||
        this.doctor.specialty == "" ||
        !/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/.test(this.doctor.doctorPhone)
      ) {
        swal("ERROR", "You must fill out all fields correctly", "error");
      } else {
        $.ajax({
          type: "POST",
          url: `${baseURL}/doctors/post`,
          data: this.doctor,
          success: function (data, status) {
            if (status === "success") {
              swal("Success", "Data was saved successfully", "success").then(
                () => {
                  $this.cancel();
                }
              );
            }
          },
        });
      }
    },
    deleteDoctor(tableDoctor) {
      let $this = this;
      swal({
        title: "Alert",
        text: "Once data is deleted, it can never be recovered!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          $.ajax({
            type: "delete",
            url: `${baseURL}/doctors/delete/${tableDoctor._id}`,
            data: tableDoctor,
            success: function (data, status) {
              if (status === "success") {
                swal("Success", "Data deleted successfully.", "success").then(
                  function () {
                    $this.cancel();
                  }
                );
              }
            },
          });
        }
      });
    },
    editDoctor(tableDoctor) {
      if (this.editing && this.updateId == tableDoctor._id) {
        this.cancel();
      } else {
        this.editing = true;
        this.doctor = tableDoctor;
        this.updateId = tableDoctor._id;
      }
    },
    updateDoctor() {
      let $this = this;
      if (
        this.doctor.doctorFirstName == "" ||
        this.doctor.doctorLastName == "" ||
        this.doctor.specialty == "" ||
        !/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/.test(this.doctor.doctorPhone)
      ) {
        swal("ERROR", "You must fill out all fields correctly", "error");
      } else {
        swal(
          "Alert",
          "Once the data is updated, it cannot be reverted!",
          "warning",
          { buttons: true }
        ).then(function (willUpdate) {
          if (willUpdate) {
            $.ajax({
              type: "put",
              url: `${baseURL}/doctors/update/${$this.updateId}`,
              data: $this.doctor,
              success: function (data, status) {
                if (status === "success") {
                  swal("Success", "Data updated successfully", "success").then(
                    function () {
                      $this.cancel();
                    }
                  );
                }
              },
            });
          }
        });
      }
    },
  },
  mounted() {
    this.getDoctors();
    $("#doctors-table").DataTable();
  },
    watch: {
      doctors: function (value) {
        
          $("#doctors-table").DataTable().destroy();
          this.$nextTick(() => {
              $("#doctors-table").DataTable();
          })
      }
  }
};
</script>