<template>
  <div id="home">
    <div class="container-fluid bordered">
      <div class="row">
        <div class="form-col col">
          <label for="username" class="form-control right-border"
            >Username:
          </label>
        </div>
        <div class="form-col col">
          <input type="text" name="username" v-model="user.username" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="form-col col">
          <label for="password" class="form-control right-border"
            >Password:
          </label>
        </div>
        <div class="form-col col">
          <input type="password" name="password" v-model="user.password" class="form-control" />
        </div>
      </div>
      <div class="row">
          <div class="form-col col">
              <button class="btn btn-success form-control" @click="login" type="button">Submit</button>
          </div>
          <div class="form-col col">
              <button class="btn btn-danger form-control" @click="cancel" type="button">Cancel</button>
          </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
img {
  height: 80vh;
  width: 100%;
}
</style>

<script>
import Vue from 'vue';
import VueRouter from 'vue-router';

Vue.use(VueRouter);

export default {
    name: "home",
    data() {
        return {
            user: {
                username: "",
                password: "",
            },
        };
    },
    methods: {
        cancel() {
            location.reload();
        },
        login() {
            let $this = this;
            if (this.user.username == '' || this.user.password == '') {
                swal('ERROR', 'You must input a username and password.', 'error')
            } else {
                $.ajax({
                    type: "post",
                    url: `${baseURL}/users/login`,
                    data: $this.user,
                    success: function (data, status) {
                      if (status === 'success') {
                        if (data[1] === ']') {
                          swal('ERROR', 'No account was found matching those credentials', 'error')
                        } else {
                          if (JSON.parse(data)[0].admin == 'true') {
                            $this.$router.push('/admins');
                          } else {
                            $this.$router.push('/users');
                          }
                        }
                      }
                    }
                });
            }
        }
    }
}
</script>