<template>
  <div id="patients">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/users">Clinic Manager</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link class="nav-link active" to="/">Home</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/patients"
                  >Patients</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/doctors"
                  >Doctors</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/appointments"
                  >Appointments</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/">Logout</router-link>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid bordered">
      <div>
        <!-- input column -->
        <div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">First Name: </label>
            </div>
            <div class="col form-col">
              <input
                type="text"
                class="form-control"
                v-model="patient.patientFirstName"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Last Name: </label>
            </div>
            <div class="col form-col">
              <input
                type="text"
                class="form-control"
                v-model="patient.patientLastName"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Sex: </label>
            </div>
            <div class="col form-col">
              <input type="text" class="form-control" v-model="patient.sex" />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Address: </label>
            </div>
            <div class="col form-col">
              <input
                type="text"
                class="form-control"
                v-model="patient.address"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Zip: </label>
            </div>
            <div class="col form-col">
              <input type="text" class="form-control" v-model="patient.zip" />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Phone Number: </label>
            </div>
            <div class="col form-col">
              <input
                type="text"
                class="form-control"
                v-model="patient.patientPhone"
              />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <label class="form-control">Date of Birth: </label>
            </div>
            <div class="col form-col">
              <input type="date" class="form-control" v-model="patient.dob" />
            </div>
          </div>
          <div class="row">
            <div class="col form-col right-border">
              <button
                v-show="!editing"
                class="btn btn-success form-control"
                type="button"
                @click="savePatient"
              >
                Submit
              </button>
              <button
                v-show="editing"
                class="btn btn-warning form-control"
                type="button"
                @click="updatePatient"
              >
                Update
              </button>
            </div>
            <div class="col form-col">
              <button
                class="btn btn-danger form-control"
                @click="cancel"
                type="button"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
        <br />
        <!-- table column -->
        <div>
          <table class="table" id="patients-table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Sex</th>
                <th>Address</th>
                <th>Zip</th>
                <th>Phone Number</th>
                <th>Date of Birth</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(tablePatient, i) in patients" :key="i">
                <td>{{ tablePatient.patientFirstName }}</td>
                <td>{{ tablePatient.patientLastName }}</td>
                <td>{{ tablePatient.sex }}</td>
                <td>{{ tablePatient.address }}</td>
                <td>{{ tablePatient.zip }}</td>
                <td>{{ tablePatient.patientPhone }}</td>
                <td>{{ tablePatient.dob.split('').splice(0, 10).join('') }}</td>
                <td>
                  <button
                    class="btn btn-danger"
                    @click="deletePatient(tablePatient)"
                  >
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button
                    class="btn btn-warning"
                    @click="editPatient(tablePatient)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "patients",
  data() {
    return {
      updateId: "",
      patient: {
        patientFirstName: "",
        patientLastName: "",
        sex: "",
        address: "",
        zip: "",
        patientPhone: "",
        dob: "",
      },
      patients: [],
      editing: false,
    };
  },
  methods: {
    cancel() {
      location.reload();
    },
    getPatients() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/patients/get`,
        success: function (data, status) {
          if (status === "success") {
            $this.patients = JSON.parse(data);
          }
        },
      });
    },
    savePatient() {
      let $this = this;
      if (
        this.patient.patientFirstName == "" ||
        this.patient.patientLastName == "" ||
        this.patient.sex == "" ||
        this.patient.address == "" ||
        this.patient.zip == "" ||
        this.patient.dob == "" ||
        !/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/.test(this.patient.patientPhone)
      ) {
        swal("ERROR", "You must fill out all fields correctly", "error");
      } else {
        $.ajax({
          type: "POST",
          url: `${baseURL}/patients/post`,
          data: this.patient,
          success: function (data, status) {
            if (status === "success") {
              swal("Success", "Data was saved successfully", "success").then(
                () => {
                  $this.getPatients();
                }
              );
            }
          },
        });
      }
    },
    deletePatient(tablePatient) {
      let $this = this;
      swal({
        title: "Alert",
        text: "Once data is deleted, it can never be recovered!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          $.ajax({
            type: "delete",
            url: `${baseURL}/patients/delete/${tablePatient._id}`,
            data: tablePatient,
            success: function (data, status) {
              if (status === "success") {
                swal("Success", "Data deleted successfully.", "success").then(
                  function () {
                    $this.getPatients();
                  }
                );
              }
            },
          });
        }
      });
    },
    editPatient(tablePatient) {
      if (this.editing && this.updateId == tablePatient._id) {
        this.cancel();
      } else {
        this.editing = true;
        this.patient = tablePatient;
        this.updateId = tablePatient._id;
      }
    },
    updatePatient() {
      let $this = this;
      if (
        this.patient.patientFirstName == "" ||
        this.patient.patientLastName == "" ||
        this.patient.patientAddress == "" ||
        this.patient.zip == "" ||
        this.patient.dob == "" ||
        !/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/.test(this.patient.patientPhone)
      ) {
        swal("ERROR", "You must fill out all fields correctly", "error");
      } else {
        swal(
          "Alert",
          "Once the data is updated, it cannot be reverted!",
          "warning",
          { buttons: true }
        ).then(function (willUpdate) {
          if (willUpdate) {
            $.ajax({
              type: "put",
              url: `${baseURL}/patients/update/${$this.updateId}`,
              data: $this.patient,
              success: function (data, status) {
                if (status === "success") {
                  swal("Success", "Data updated successfully", "success").then(
                    function () {
                      $this.cancel();
                    }
                  );
                }
              },
            });
          }
        });
      }
    },
  },
  mounted() {
    this.getPatients();
    $("#patients-table").DataTable();
  },
    watch: {
      patients: function (value) {
        
          $("#patients-table").DataTable().destroy();
          this.$nextTick(() => {
              $("#patients-table").DataTable();
          })
      }
  }
};
</script>