<template>
  <div id="clients">
      <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/users">Clinic Manager</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link class="nav-link active" to="/">Home</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/patients"
                  >Patients</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/doctors"
                  >Doctors</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/appointments"
                  >Appointments</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/"
                  >Logout</router-link
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header><br>
    <h1>Welcome to the clinic manager system</h1>
  </div>
</template>

<script>
export default {
  name: "users",
  data() {
    return {
    };
  },
};
</script>